[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/v2-testnet-contracts"]
	path = lib/v2-testnet-contracts
	url = https://github.com/matter-labs/v2-testnet-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.8.0
